.sidebar {
    height: 100%;
    background-color: rgb(240, 244, 247);
    box-shadow: 2px 0px 5px rgba(3, 37, 53, 0.5); 
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    max-width: 40%;
    color:  #0c1529;
    z-index: 200;
 }
 
 .sidebar ul {
     height: 100%;
     font-family: 'Trebuchet MS', Arial, sans-serif;
     color: #0c1529;
     list-style: none;
     display: flex;
     flex-direction: column;
     justify-content:  center;
 }
 
 .sidebar li {
     margin: 0.5rem 0;
 }
 
 .sidebar a {
     text-decoration: none;
     font-size: 1.2rem;
     color: #0c1529;
 }
 
 .sidebar a:hover,
  .sidebar a:active {
     color: rgb(95, 153, 197)
 }
 
 @media (min-width: 769px){
     .sidebar{
         display:none;
     }
 }