.App {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 90% 1fr;
  grid-template-rows: 5% 95%;
  grid-gap: 10px 10px;
}

.App .fixed {
  grid-area: 1/ 1 / span 1 / span 3;
  position: fixed;
  width: 100%;
  margin-top: 0%;
  z-index: 400;
}

.box {
  grid-area: 2 / 2 / span 1 / span 1;
  width: 100%;
  margin-top: 5%;
  z-index: 4;
  margin-left: 0;
  margin-right: 0;
}
